@use 'variables' as *;

@mixin quantity {
    border: 1px solid $color-primary;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    button {
        border: none;
        background: none;
        font-size: 24px;
        padding: 0 15%;
        cursor: pointer;
    }

    input {
        width: 100%;
        text-align: center;
        border: none;
        color: $color-primary;
    }
}

@mixin order-model {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@mixin section-model {
    width: 70%;
    padding: 50px 30px 50px 0;

    @media (max-width: $medium) {
        width: 100%;
        padding: 0;
    }
}