$color-primary: #A27B5C;
$color-primary-hover: #ead8ca;
$color-primary-dark: #67482f;
$color-gray: #7F7F7F;
$background-color-sidebar: #FCF7EF;
$extra-small: 576px;
$small: 768px;
$medium: 992px;
$large: 1200px;
$color-gray-light: #e2e2e2;