@use 'mixins' as *;
@use 'variables' as *;



* {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
}

/*************** GENERELL **************/

h1 {
    font-size: 5rem;
    margin: 0;

    @media (max-width: $medium) {
        font-size: 3rem;
    }
}

h2 {
    font-size: 4rem;
    margin: 0;

    @media (max-width: $medium) {
        font-size: 2rem;
    }
}

h3 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

.text-color-gray {
    color: $color-gray;
}

.text-color-primary {
    color: $color-primary;
}

.bg-primary-light {
    background-color: $color-primary-light;
}

main {
    padding-top: 50px;

    .content {
        padding-top: 50px;
        padding-bottom: 50px;
        min-height: 70vh;
        display: flex;
        flex-direction: column;

        @media (max-width: $small) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

aside {
    padding: 50px;
    min-height: 70vh;
    background-color: $color-primary-light;
    display: flex;
    flex-direction: column;

    @media(max-width: $medium) {
        width: 100vw;
        position: relative;
        min-height: auto;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
}

.btn-default {
    display: block;
    background-color: $color-primary;
    border: 1px solid $color-primary;
    padding: 12px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: $color-primary-dark;
    }

    a {
        color: #ffffff;
        text-decoration: none;
    }
}

.btn-default-outline {
    border: 1px solid $color-primary;
    padding: 12px;
    background: none;
    color: $color-primary;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: $color-primary-hover;
    }

    a {
        color: $color-primary;
        text-decoration: none;
    }
}

.breadcrumb {
    li {
        a {
            text-decoration: none;
            color: $color-gray;

            &:hover {
                color: #121212;
            }
        }

        &:after {
            content: ">";
            padding: 0 10px;
        }

        &:last-child:after {
            content: "";
        }
    }

    .active {
        a {
            color: #121212;
            cursor: default;
        }
    }
}

select,
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #272727;
    -webkit-appearance: none;
    appearance: none;

    @media (max-width: $medium) {
        padding: 6px;
    }

    &:focus,
    &:focus-visible {
        outline: none;
        border: 2px solid $color-primary;
        border-radius: 3px;
    }
}

/*********** HEADER готово сторінка home як приклад **************/
.main-header {
    nav {
        .logo-md {
            width: 40%;
        }

        .bl-buttons-md {
            .btn-cart-md {
                &>span {
                    position: absolute;
                    background-color: #FFA90B;
                    top: -15px;
                    right: -20px;
                    color: white;
                    padding: 4px 11px;
                    border-radius: 20px;
                }
            }
        }

        .menu {
            @media (max-width: $medium) {
                flex-basis: 100%;
                flex-grow: 1;
            }

            .nav-items {
                .nav-item {
                    a {
                        &::after {
                            content: '';
                            position: absolute;
                            left: 50%;
                            bottom: -2px;
                            width: 0;
                            height: 2px;
                            background: $color-primary;
                            transform: translateX(-50%);
                        }

                        &:hover::after {
                            width: 80%;
                        }
                    }
                }

                .active {
                    a::after {
                        width: 80%;
                    }
                }
            }

            //додається через скрипт js
            @at-root .menu-tablet {
                padding: 10px;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                margin-top: 70px;
                font-size: 20px;
                text-align: center;

                li {
                    a {
                        font-weight: bold;
                    }
                }

                @at-root .menu-tablet-background {
                    background-color: $color-primary-light;
                }
            }
        }
    }
}

/*********** CONTENT. OUR-MENU готово **************/
.menu-page {
    .our-menu {
        .title {
            font-family: "Montserrat";
            width: 60%;

            @media (max-width: $medium) {
                width: 100%;
            }
        }
    }

    .main-filters {
        .filter-item {
            .bl-form {
                span {
                    top: 50%;
                    transform: translate(0, -50%);
                }
            }
        }
    }

    .category-tabs {
        justify-content: space-between;
        border-top: 2px solid #e2e2e2;
        border-bottom: 2px solid #e2e2e2;

        @media (max-width: $small) {
            overflow: hidden;
            justify-content: flex-start;
            overflow-x: auto;
            scrollbar-width: none;
            border: none;
        }

        .tab-item {

            &:hover,
            &:active,
            &:focus {
                box-shadow: 0 2px #353535, 0 -2px #353535;
            }

            @media (max-width: $small) {
                min-width: 210px;
                display: inline-block;
                border-top: 2px solid #e2e2e2;
                border-bottom: 2px solid #e2e2e2;
            }
        }

        .active {
            box-shadow: 0 2px #353535, 0 -2px #353535;

            @media (max-width: $small) {
                border-top: 2px solid #353535;
                border-bottom: 2px solid #353535;
            }
        }
    }
}

/**************** PRODUCT-GRID готово ****************/
.product-grid {
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: $medium) {
        grid-template-columns: repeat(3, 1fr);

    }

    @media (max-width: $small) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $extra-small) {
        grid-template-columns: 1fr;
    }

    .product-item {
        &:hover {
            cursor: pointer;
            background-color: $color-primary-hover;
            opacity: 0.8;
            transition: 0.3s;
        }

        .product-image {
            img {
                aspect-ratio: 1 / 1;
            }
        }
    }
}

/************ FEATURED-PRODUCT готово *****************/
.featured-product {
    background-color: $color-primary-light;
}

/************ PRODUCT-PAGE готово *****************/
.product-page {
    .product-images {
        grid-template-columns: 1fr 4fr;

        @media (max-width: $medium) {
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
        }

        .thumbnail-gallery {
            overflow: hidden;
            overflow-y: scroll;
            scrollbar-width: none;

            @media (max-width: $medium) {
                grid-row: 2;
                overflow-x: scroll;
            }

            .image-item {
                @media (max-width: $medium) {
                    grid-row: 1;
                    width: 80px;
                }
            }

            img {
                aspect-ratio: 1/1;
            }
        }

        .main-image {
            img {
                aspect-ratio: 4 / 6;

                @media (max-width: $medium) {
                    aspect-ratio: 4 / 5;
                }
            }
        }
    }

    .product-info {
        .product-description {
            .hide {
                max-height: 24rem;
                overflow: hidden;
            }
        }

        .bl-action {
            .add-cart {
                .btn-add-to-cart {
                    width: 60%;
                }

                .quantity-selector {
                    width: 40%;
                }

                @at-root .quantity-selector {
                    @include quantity;
                }
            }
        }
    }
}

/************ PRODUCT-ADDED-MODAL ***************/
.product-added-modal {
    display: none;
    position: fixed;
    z-index: 10;
    width: 500px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;

    @media (max-width: $small) {
        width: 80%;
        padding: 40px 20px 15px;
    }

    &>div {
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {
            border: 6px solid #16d274;
            border-radius: 15px;
            display: inline-block;
            padding: 10px 20px;
            font-size: 40px;
            color: #16d274;
        }

        .text_success {
            padding: 30px 0 20px;
            font-size: 24px;
            font-weight: 500;
        }

        .text_added {
            color: $color-gray;
            text-align: center;
            line-height: 24px;
        }

        div {
            display: flex;
            padding: 40px 0 20px;
            gap: 20px;
            flex-wrap: wrap;
            flex-wrap: wrap;
            justify-content: center;

            button {
                width: 110px;
            }
        }
    }
}

/*************** CART-PAGE ***************/
.cart-page {
    .content {
        .cart-header {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 15px 0;
            margin: 0;
            border-bottom: 1px solid $color-gray;

            @media (max-width: $small) {
                display: none;
            }

            li {
                flex: 1;
                text-align: start;
                font-weight: bold;

                &:first-child {
                    flex: 3;
                }

                &:nth-child(3) {
                    text-align: center;
                }

                &:last-child {
                    text-align: end;
                }
            }
        }

        .cart-items-list {
            padding: 0;

            .cart-item {
                border-bottom: 1px solid $color-gray;
                padding: 15px 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                &:last-child {
                    @media (max-width: $medium) {
                        border-bottom: none;
                    }
                }

                .cart-item-info {
                    flex: 3;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    text-align: start;

                    @media (max-width: $small) {
                        align-items: flex-start;
                    }

                    img {
                        width: 100px;
                        aspect-ratio: 1/1;
                        overflow: clip;
                        object-fit: cover;
                        margin-right: 20px;
                    }

                    &>div {
                        a {
                            text-decoration: none;
                            color: #121212;

                            p {
                                padding: 7px 0 7px;
                                margin: 0;

                                @media (max-width: $medium) {
                                    font-size: 14px;
                                }
                            }

                            .text_category {
                                font-size: 12px;
                                color: $color-gray;
                            }
                        }

                        .cart-item-price-sm {
                            display: none;

                            @media (max-width: $small) {
                                display: block;
                                padding: 10px 0;
                            }
                        }

                        .cart-item-quantity-sm {
                            display: none;

                            @media (max-width: $small) {
                                display: flex;
                                align-items: center;
                                gap: 20%;
                            }
                        }
                    }
                }
            }

            .cart-item-price,
            .cart-item-quantity,
            .cart-item-total-label {

                flex: 1;

                @media (max-width: $small) {
                    display: none;
                }
            }

            .cart-item-total-label {
                text-align: end;
            }
        }

        .btn-default-outline {
            @media (max-width: $small) {
                display: none;
            }
        }
    }

    aside {

        .cart-subtotal,
        .cart-tax {
            display: flex;
            text-align: center;
            justify-content: space-between;

            &>p {
                &:first-child {
                    color: $color-gray;
                }
            }
        }

        @at-root .form-promo-code {
            form {
                label {
                    color: $color-gray;
                    display: block;
                    padding: 10px 0;
                }

                input {
                    margin-bottom: 10px;

                    @media (max-width: $medium) {
                        padding: 6px;
                    }
                }
            }

            button {
                @media (max-width: $medium) {
                    padding: 6px;
                }
            }
        }

        @at-root .cart-total-label {
            display: flex;
            text-align: center;
            justify-content: space-between;
            font-size: 28px;
            margin-top: auto;

            @media (max-width: $large) {
                font-size: 20px;
            }

            @media (max-width: $small) {
                margin-top: 30px;
            }
        }

        @at-root .order-info {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .order-item {
                p {
                    padding: 5px 0;
                    margin: 0;

                    &:first-child {
                        color: $color-gray;
                    }
                }
            }
        }
    }
}

/*********** DISCOUNT-PROMO-MODAL готово ***********/
.promo-modal {
    position: fixed;
    z-index: 10;
    width: 600px;
    height: auto;
    border-radius: 1rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.25rem;
    display: none;

    @media (max-width: $small) {
        width: 90%;
        position: absolute;
    }

    .promo-close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 2rem;
        cursor: pointer;
    }

    .promo-list {
        .promo-item {
            border: 1px solid $color-primary;
        }
    }

    .promo-list {
        &:last-child {

            .promo-item {
                color: $color-gray;
                border: 1px solid $color-gray;
                background-color: $color-gray-light;
            }
        }
    }
}

/************ CHECKOUT-CHECKOUT-PAGE *************/
.checkout-checkout-page {
    .form-address {
        padding-bottom: 50px;

        .shipping-email {
            border: none;

            .input-email {
                label {
                    display: block;
                    padding-bottom: 10px;
                }
            }

            .text-account {
                color: $color-gray;
                padding: 10px 0;

                span {
                    a {
                        color: $color-primary;
                        text-decoration: none;
                    }
                }
            }

            @at-root .bl-input-checkbox {
                display: flex;
                align-items: center;

                input {
                    display: inline;
                    margin: 10px 10px 10px 0;
                    width: 20px;
                    height: 20px;
                    accent-color: $color-primary;
                    border: 1px solid $color-primary;
                    border-radius: 10px;
                }
            }
        }

        .shipping-address {
            border: none;

            @at-root legend {
                font-size: 28px;
                font-weight: 500;
                padding: 15px 0;
                grid-column: 1/5;
            }

            &>div {
                grid-template-columns: repeat(4, minmax(0, 1fr));
                grid-template-rows: repeat(3, minmax(0, 1fr));
                gap: 20px;

                input[name="shipping-name"] {
                    grid-row: 1;
                    grid-column: 1/3;

                    @media (max-width: $small) {
                        grid-column: 1/5;
                    }
                }

                input[name="shipping-apartment"] {
                    grid-row: 1;
                    grid-column: 3/5;

                    @media (max-width: $small) {
                        grid-row: 2;
                        grid-column: 1/5;
                    }
                }

                select[name="shipping-country"] {
                    @media (max-width: $small) {
                        grid-row: 3;
                        grid-column: 1/3;
                    }
                }

                select[name="shipping-province"] {
                    @media (max-width: $small) {
                        grid-row: 3;
                        grid-column: 3/5;
                    }
                }

                select[name="shipping-city"] {
                    @media (max-width: $small) {
                        grid-row: 4;
                        grid-column: 1/3;
                    }
                }

                input[name="shipping-code"] {
                    @media (max-width: $small) {
                        grid-row: 4;
                        grid-column: 3/5;
                    }
                }

                input[name="shipping-address"] {
                    grid-row: 3;
                    grid-column: 1/5;

                    @media (max-width: $small) {
                        grid-row: 5;
                    }
                }

                .shipping-mobile {
                    grid-row: 4;
                    grid-column: 1/5;

                    select {
                        width: auto;
                    }

                    @media (max-width: $small) {
                        grid-row: 6;
                    }
                }
            }
        }
    }
}

/************ CHECKOUT-SHIPPING-PAGE *************/
.checkout-shipping-page {
    .shipping-method {
        &>div {
            border-bottom: 1px solid $color-gray-light;

            &:last-child {
                border: none;
            }

            input {
                width: 20px;
                accent-color: $color-primary;
                cursor: pointer;
            }
        }
    }
}

/************ CHECKOUT-PAYMENT-PAGE готово **************/
.checkout-payment-page {
    .payment-method {
        div {
            border-bottom: 1px solid $color-gray-light;

            &:last-child {
                border: none;
            }

            input[type="radio"] {
                width: 20px;
                accent-color: $color-primary;
                cursor: pointer;
            }
        }

        .credit-method {
            .payment-card-detail {
                gap: 20px;

                div {
                    gap: 20px;
                    flex: 1;
                    min-width: 0;

                    &:first-child {
                        flex: 2;
                    }
                }
            }
        }
    }
}

/****************** FOOTER готово **********************/
footer {
    background-color: #121212;

    @at-root .mobile-app {
        .social-media {
            img {
                width: 20px;
            }
        }

        img {
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

/******************* ORDER-PAGE ***********************/
.order-page {
    .thanks {
        .main-confirmation-img {
            position: relative;
            background-image: url(../images/confirmation.gif);
            border-radius: 25%;
            margin: 0 auto;
            box-shadow: 0px 0px 38px 0px rgba(255, 255, 255, 0.8) inset;
            width: 340px;

            .circle circle {
                transform-origin: 50% 50%;
                animation: scale 3s infinite ease-in-out;
                stroke-opacity: 0.2;
            }

            @keyframes scale {

                0%,
                100% {
                    transform: scale(0.75);
                }

                50% {
                    transform: scale(1);
                }
            }

            i {
                color: #ffffff;
                position: absolute;
                font-size: 40px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        p {
            span {
                color: $color-primary;
            }
        }
    }

    @at-root .order-detail {
        border-bottom: 1px solid $color-gray-light;
    }

    .order-items-list {
        .order-item {
            border-bottom: 1px solid $color-gray-light;

            .order-item-img {
                width: 150px;
                aspect-ratio: 1 / 1;

                @media (max-width: $small) {
                    width: 100px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .order-subtotal {
        border-bottom: 1px solid $color-gray-light;
    }
}

/***************** TRACK-ORDER-PAGE готово *******************/
.track-order-page {
    .track-order-list {
        .line {
            left: 50%;
            top: 35px;
            width: 2px;
            height: 100%;
            border-left: 2px dashed $color-gray;
        }

        .line-primary {
            border-left: 2px dashed $color-primary;
        }
    }
}

/******************* HOME-PAGE готово *****************/
.home-page {
    .main-banner {
        .main-banner-img {
            height: 500px;
        }

    }

    .main-statistikk {
        .statistical-data {
            justify-content: end;

            @media (max-width: $medium) {
                justify-content: start;
            }

            &>div {
                p {
                    &:first-child {
                        font-size: 70px;

                        @media (max-width: $medium) {
                            font-size: 50px;
                        }

                        @media (max-width: $extra-small) {
                            font-size: 32px;
                        }
                    }
                }
            }
        }
    }

    .main-history {
        background-color: $color-primary-light;

        .main-locations {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(9, 4rem);

            @media(max-width: $medium) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(14, 3rem);
            }

            .location-item {
                &:nth-child(1) {
                    grid-column: 1;
                    grid-row: 1/7;
                }

                &:nth-child(2) {
                    grid-column: 2;
                    grid-row: 2/8;
                }

                &:nth-child(3) {
                    grid-column: 3;
                    grid-row: 3/9;

                    @media(max-width: $medium) {
                        grid-column: 1;
                        grid-row: 7/14;
                    }
                }

                &:nth-child(4) {
                    grid-column: 4;
                    grid-row: 4/10;

                    @media(max-width: $medium) {
                        grid-column: 2;
                        grid-row: 8/15;
                    }
                }
            }
        }
    }

    .imacof {
        .logo-imacof {
            img {
                height: 2rem;
                background-color: $color-primary;
                border-radius: 5px;
            }
        }
    }

    .comfy-workspace {
        background-color: $color-primary-light;

        .workspaces {
            .workspace-items {
                overflow-x: auto;
                scrollbar-width: none;
                white-space: nowrap;
                gap: 3rem;

                @media (max-width: $large) {
                    gap: 1.5rem;
                }

                .slide-item {
                    min-width: 20%;

                    @media (max-width: $large) {
                        min-width: 25%;
                    }

                    @media (max-width: $medium) {
                        min-width: 40%;
                    }

                    @media (max-width: $small) {
                        min-width: 70%;
                    }
                }
            }

            .indicators {
                .indicator-item {
                    width: 20px;
                    height: 20px;
                    background-color: $color-gray-light;
                    border-radius: 50%;
                }

                .active {
                    background-color: $color-primary;
                }
            }
        }
    }

    .main-grow {
        .grow-text {
            width: 35%;

            @media (max-width: $medium) {
                width: 100%;
            }
        }

        .grow-items {
            width: 65%;
            overflow: hidden;
            justify-content: flex-start;
            overflow-x: auto;
            scrollbar-width: none;
            white-space: nowrap;
            gap: 3rem;

            @media (max-width: $medium) {
                width: 100%;
                gap: 1.5rem;
            }

            .grow-item {
                min-width: 65%;
                height: 330px;
            }
        }
    }

    @at-root .our-news {
        background-color: $color-primary-light;

        .our-news-img {
            height: 500px;
        }

        @at-root .news-date {
            li {
                &:first-child::after {
                    content: "\2022";
                    padding-left: 10px;
                    padding-right: 7px;
                }
            }
        }
    }
}

/****************** NEWS PAGE готово *******************/
.news-page {
    .news-items {
        .news-item {
            border-bottom: 1px solid $color-gray-light;

            &:last-child {
                border: none;
            }

            img {
                aspect-ratio: 4/3;
            }
        }
    }
}

/*************** STORY PAGE готово ******************/
.story-page {
    .main-story-img {
        img {
            aspect-ratio: 21/9;
        }
    }

    .other-news {
        background-color: $color-primary-light;

        .other-news-item {
            img {
                aspect-ratio: 4/3;
            }
        }
    }
}

/************ EVENT LIST готово ****************/
.event-list-page {
    .upcoming-events {
        img {
            object-fit: cover;
            aspect-ratio: 1/1;

            @media (max-width: $small) {
                aspect-ratio: 2/1;
            }
        }
    }

    .events-closed {
        .events-closed-items {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 2rem;

            @media (max-width: $small) {
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                grid-gap: 1rem;
            }

            .events-closed-item {
                &:nth-child(1) {
                    grid-column: 1/3;

                    @media (max-width: $small) {
                        grid-column: auto;
                    }

                    img {
                        aspect-ratio: 2/1;
                    }
                }

                img {
                    aspect-ratio: 1/1;

                    @media (max-width: $small) {
                        aspect-ratio: 2/1;
                    }
                }
            }
        }
    }
}