li {
    list-style-type: none !important;
}

nav,
p,
a,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*********** HEADER **************/

.navbar {
    padding: 15px 0;
    display: flex;
}

.text-title {
    width: 30%;
    display: flex;
    align-items: center;
}

.text-title svg {
    width: 200px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    gap: 30px;
    width: 70%;
    font-size: 18px;
}

.menu li a {
    text-decoration: none;
    color: #121212;
}

.menu ._navItem a:hover {
    text-decoration: underline;
    color: #A27B5C;
    transition: 0.2s;
}

.menu .buttons {
    border: 2px solid #A27B5C;
    padding: 10px 15px;
}

.menu .btn-cart {
    background-color: #A27B5C;
}

.menu .btn-cart:hover,
.menu .btn-cart:focus {
    background-color: #67482f;
    border: 2px solid #67482f;
    transition: 0.2s;
    cursor: pointer;
}

.menu .btn-cart a {
    color: white;
}

.menu .btn-sign a {
    color: #A27B5C;
}

.menu .btn-sign:hover,
.menu .btn-sign:focus {
    background-color: #a27b5c3d;
    cursor: pointer;
}

/*********** CONTENT. OUR MENU **************/

.our-menu .heading {
    margin: 85px 0 40px;
    display: flex;
}

.our-menu .heading .title {
    font-family: "Montserrat";
    width: 60%;
}

.our-menu .heading .title h3 {
    font-size: 85px;
    font-weight: 600;
    letter-spacing: -5px;
}

.our-menu .heading .title p {
    font-size: 18px;
    padding-top: 30px;
    line-height: 30px;
}

.our-menu .content .filter {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 50px;
}

.our-menu .content .filter button:hover {
    cursor: pointer;
}

.our-menu .content .bl-search {
    flex: 0 0 50%;
}

.our-menu .content .bl-price,
.our-menu .content .bl-sort {
    width: 100%;
}

.our-menu .content .one-filter .bl-label {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding-bottom: 10px;
}

.our-menu .content .one-filter .bl-label button {
    border: none;
    background: none;
    color: #F14C35;
}

.our-menu .content .one-filter .bl-form {
    position: relative;
}

.our-menu .content .one-filter .bl-form button {
    position: absolute;
    border: none;
    background: none;
    z-index: 1;
}

.our-menu .content .one-filter .bl-form input {
    box-sizing: border-box;
    padding: 10px 10px 10px 30px;
    width: 100%;
}

.our-menu .content .one-filter .bl-form i {
    padding-top: 12px;
    padding-left: 5px;
    font-size: 11px;
    color: gray;
}

.our-menu .content .one-filter .bl-form select {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}